.git
.env
.DS_Store
airflow_settings.yaml
__pycache__/
astro
.venv
airflow-webserver.pid
webserver_config.py
airflow.cfg
airflow.db


dags/dbt/data_pipeline/seeds/*
dags/dbt/data_pipeline/dbt_packages/
dags/dbt/data_pipeline/go_test/
dags/dbt/data_pipeline/target/*
dags/dbt/data_pipeline/logs/*
dags/dbt/data_pipeline/dbt_project.yml